<h2 class="h2" style="text-align: center; margin-bottom: 50px; margin-top: -30px;">Add Commerce Meeting</h2>
<form class="card" style="padding: 30px;"(submit) = "onRegisterSubmit()">
    <div class="form-group">
        <label class="control-label col-sm-2">Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Enter Your Name">
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Date of Meeting</label>
        <input type="date" [(ngModel)]="date" name="date" class="form-control"placeholder="Enter Date of Meeting">
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Title Of the Lesson</label>
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Enter Lesson Going to Teach">
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Duration</label>
        <input type="text" [(ngModel)]="duration" name="duration" class="form-control" placeholder="Enter Duration of Your Meeting">
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Link</label>
        <input type="text" [(ngModel)]="link" name="link" class="form-control" placeholder="Enter Link of your Zoom Meeting">
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">ID</label>
        <input type="text" [(ngModel)]="id" name="id" class="form-control" placeholder="Enter your Meeting ID">
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Passcode</label>
        <input type="password" [(ngModel)]="passcode" name="passcode" class="form-control" placeholder="Enter your Meeting Passcode">
    </div>
    <div class="">
        <div class="col-12" style="text-align: center;">
            <button type="submit" class="btn btn-primary btn-lg w-100" style="margin-bottom: 20px;">Add Meeting</button>
        </div>
    </div>
</form>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class="btn btn-info" href="teacherdashboard" role="button">Go Back <<</a>
</div>
