<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <ul>
                    <a href="/">Home</a>
                </ul>
                <hr style="background-color: aliceblue; margin-top: 2%; margin-bottom: 3%;">
                <div class="col item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Nonim Creations © 2023</p>
            <p class="copyright">All Right Reserved</p>
        </div>
    </footer>
</div>