<div class="container" style="margin-top: 8%;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" style="margin-top: -50px;" (submit)="onLoginSubmit()">
                    <div class="text-center">
                        <fa-icon style="font-size: 80px;" [icon]="faUserSecret"></fa-icon>
                    </div>
                    <div class="mb-3" style="margin-top: 20px;">
                        <input type="text" class="form-control" name="Username" [(ngModel)]="username"
                            placeholder="User Name">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" [(ngModel)]="password"
                            placeholder="password">
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>