<h2 class="h2" style="text-align: center; margin-bottom: 50px;">All Arts Meeting List</h2>
<div class="container" style="margin-top: -50px;">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    </div>
    <div class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Resource Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Stream</th>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resources of Resources; let i = index">
                <td>{{resources.name}}</td>
                <td>{{resources.rname}}</td>
                <td>{{resources.subject}}</td>
                <td>{{resources.stream}}</td>
                <td>{{resources.author}}</td>
                <td>{{resources.link}}</td>                 
            </tr>
        </tbody>
    </div>   
</div>