<h2 class="h2" style="text-align: center; margin-bottom: 50px;">Update Resource From Here!</h2>
<form class="card" style="padding: 30px;" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
        <label for="TextInput">Name</label>
        <input class="form-control" type="text" formControlName="name" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Resource Name</label>
        <input class="form-control" type="text" formControlName="rname" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Subject</label>
        <input class="form-control" type="text" formControlName="subject" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Stream</label>
        <input class="form-control" type="text" formControlName="stream" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Author</label>
        <input class="form-control" type="text" formControlName="author" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Link</label>
        <input class="form-control" type="text" formControlName="link" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Update</button>
</form>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class="btn btn-info" href="resourcescrud" role="button">Go Back <<</a>
</div>