<h2 class="h2" style="text-align: center; margin-bottom: 50px;">Update Student From Here!</h2>
<form class="card" style="padding: 30px;" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
        <label for="TextInput">Name</label>
        <input class="form-control" type="text" formControlName="name" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Index Number</label>
        <input class="form-control" type="text" formControlName="index" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Following Stream</label>
        <select class="form-select" aria-label="Default select example" formControlName="stream" >
            <option value="Maths">Maths</option>
            <option value="Bio">Bio</option>
            <option value="Arts">Arts</option>
            <option value="Commerce">Commerce</option>
            <option value="Technology">Technology</option>
        </select>
    </div>
    <div class="form-group">
        <label for="TextInput">Phone</label>
        <input class="form-control" type="text" formControlName="phone" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Email</label>
        <input class="form-control" type="text" formControlName="email" required>
    </div>
    <div class="form-group">
        <label for="TextInput">NIC</label>
        <input class="form-control" type="text" formControlName="nic" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Update</button>
</form>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class="btn btn-info" href="studentslist" role="button">Go Back <<</a>
</div>
