<!-- <div class="roe justify-content-center mt-3">
    <div class="col-md-5">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" formControlName="name" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>
    </div>
</div> -->
<form class="card" style="padding: 30px;" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
        <label for="TextInput">Name</label>
        <input class="form-control" type="text" formControlName="name" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Date</label>
        <input class="form-control" type="date" formControlName="date" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Title</label>
        <input class="form-control" type="text" formControlName="title" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Duration</label>
        <input class="form-control" type="text" formControlName="duration" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Link</label>
        <input class="form-control" type="text" formControlName="link" required>
    </div>
    <div class="form-group">
        <label for="TextInput">ID</label>
        <input class="form-control" type="text" formControlName="id" required>
    </div>
    <div class="form-group">
        <label for="TextInput">Passcode</label>
        <input class="form-control" type="text" formControlName="passcode" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Update</button>
</form>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class="btn btn-info" href="studentslist" role="button">Go Back <<</a>
</div>
