<!-- <div class="jumbotron">
    <h1 class="display-4">MEAN Authentication App</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>Welcome to our custom MEAN authentication applicaation.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/studentregister']">Register</a>
    </p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" role="button" [routerLink]="['/studentlogin']">Login</a>
        <img src="/assets/images/1.jpg" height="50%" width="50%" alt="image">
    </p>
</div> -->
<div class="card text-white" style="width:138%; height:-100px ; margin-top: -76px; margin-left: -210px; border: none; margin-bottom: 100px;">
    <img class="card-img" src="/assets/images/3.jpg" alt="Card image">
    <div class="card-img-overlay">
        <div class="card-body" style="text-align: center; margin-top: 500px; margin-bottom: 50px; font-size: 20px;">
            <h1 class="card-title">E-Learning Platform</h1>
            <p class="card-text">This website specially made foe 2024 Advanced Level Examination students of st/servatius
                college Matara.</p>
            <a href="" class="btn btn-success">Get Start!</a>
        </div>
    </div>
  </div>
<!-- <div class="card-body" style="text-align: center; margin-top: -30px; margin-bottom: 50px;">
    <h1 class="card-title">E-Learning Platform</h1>
    <p class="card-text">This website specially made foe 2024 Advanced Level Examination students of st/servatius
        college Matara.</p>
    <a href="" class="btn btn-success">Get Start!</a>
</div> -->
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/assets/images/student.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Student Login</h5>
            <p class="card-text">From this students can login to the system. if you haven't an account then you can go
                to register and create your own account.</p>
        </div>
        <div class="card-footer">
            <p class="lead">
                <a class="btn btn-danger" href="studentlogin" role="button">Student</a>
            </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/images/teacher.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Teacher Login</h5>
            <p class="card-text">From this teachers can login to the system. after creating account for teachers by
                admins, teachers can lg into the system.</p>
        </div>
        <div class="card-footer">
            <p class="lead">
                <a class="btn btn-warning" href="teacherlogin" role="button">Teacher</a>
            </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/images/studentregister.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Student Register</h5>
            <p class="card-text">From this studets can register to the system. if you haven't an account then you can
                create your own account from here. </p>
        </div>
        <div class="card-footer">
            <p class="lead">
                <a class="btn btn-primary" href="studentregister" role="button">Register</a>
            </p>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: white;">
    <h1 class="" style="text-align: center;">Features Of E-Learning</h1>
    <p class="lead" style="text-align: center;">This website use teachers and students for better and faster for
        learning related things. specially meeting links sharing, study recources sharing and chatting with others etc.
    </p>
    <hr class="my-4">
</div>
<div class="card-deck" style="margin-bottom: 50px; margin-top: -70px;">
    <div class="card">
      <img class="card-img-top" src="/assets/images/student.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Meetings</h5>
        <p class="card-text">Teachers can add meetings from this web site and students can view all meetings uploaded by teachers. teachers can view other meeetings and according to the time they can upload meeting details.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/student.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Resources</h5>
        <p class="card-text">Teachers can upload resources and students can see them. Through this, students can get things that are relevant and necessary to them. </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/student.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Chatting</h5>
        <p class="card-text">By chatting teachers and students they can share and solve so many problems. And chat with admins students and teachers manage their account related things, meeting related things so on.</p>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <p class="card-text">Go to contact us and send any thing you want to our Admin panel.</p>
      <a href="#" class="btn btn-primary">Contact Us</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>