<h2 class="h2" style="text-align: center; margin-bottom: 50px;">All Physical Science Meeting List</h2>
<div class="container" style="margin-top: -50px;">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    </div>
    <div class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Duration</th>
                <th scope="col">Link</th>
                <th scope="col">Id</th>
                <th scope="col">passcode</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let maths of Maths; let i = index">
                <!-- <th scope="row">{{student._id}}></th> -->
                <td>{{maths.name}}</td>
                <td>{{maths.date}}</td>
                <td>{{maths.title}}</td>
                <td>{{maths.duration}}</td>
                <td>{{maths.link}}</td>
                <td>{{maths.id}}</td>
                <td>{{maths.password}}</td>                
            </tr>
        </tbody>
    </div>   
</div>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class="btn btn-info" href="teacherdashboard" role="button">Go Back <<</a>
</div>
