<h2 class="h3" style="text-align: center; margin-bottom: 50px; margin-top: -30px;">Hello Admin!</h2>
<p style="text-align: center; margin-bottom: 50px; margin-top: -30px;">
  Administrators, you can manage both of teachers and student accounts and can create accounts for teachers. After that
  you can
  manage every meetings adding by teachers. specially you can chat with teachers and students and manage their accounts,
  meetings, resources and so on.
  Finally you can see contact us messages and by clicking logout you can go to home page.
</p>
<h2 class="h3" style="text-align: center; margin-bottom: 50px; margin-top: -25px;">Students & Teachers Management</h2>
<div class="card-deck">
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Student Details Manage</h5>
      <a class="btn btn-dark" href="studentslist" role="button">Students Details</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Teachers Details Manage</h5>
      <a class="btn btn-dark" href="teacherslist" role="button">Teachers Details</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Create Account For Teacher</h5>
      <a class="btn btn-dark" href="teacherregister" role="button">Add Teacher</a>
    </div>
  </div>
</div>

<h3 class="h3" style="text-align: center; margin-bottom: 50px; margin-top: -50px;">Meeting & Resources Management</h3>
<div class="card-deck">
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Maths Meeting List</h5>
      <a class="btn btn-danger" href="mathscrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Biology Meeting List</h5>
      <a class="btn btn-success" href="biocrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Arts Meeting List</h5>
      <a class="btn btn-info" href="artscrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Commerce Meeting List</h5>
      <a class="btn btn-warning" href="commercecrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Technonoly Meeting List</h5>
      <a class="btn btn-dark" href="techcrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Resources List</h5>
      <a class="btn btn-primary" href="resourcescrud" role="button">View</a>
    </div>
  </div>
</div>

<h3 class="h3" style="text-align: center; margin-bottom: 50px; margin-top: -50px;">Chat with Students and Teachers</h3>
<div class="card-deck">
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Chat Teacher & Student</h5>
      <a class="btn btn-success" href="chatadmin" role="button"
        style="padding-left: 30px; padding-right: 30px;">Chat</a>
    </div>
  </div>
</div>
<div style="text-align: center; align-items: center; margin-top: -60px; margin-bottom: 100px;">
  <a class="btn btn-primary" href="contactuslist">View ContactUs!</a>
</div>
<div style="text-align: center; align-items: center; margin-top: -60px; margin-bottom: 50px;">
  <a class="btn btn-danger" href="">Logout!</a>
</div>