<h2 class="h2" style="text-align: center; margin-bottom: 50px;">Students & Teachers Management</h2>
<div class="card-deck">
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Student Details Manage</h5>
      <a class="btn btn-dark" href="studentslist" role="button">Students Details</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Teachers Details Manage</h5>
      <a class="btn btn-dark" href="teacherslist" role="button">Teachers Details</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Create Account For Teacher</h5>
      <a class="btn btn-dark" href="teacherregister" role="button">Add Teacher</a>
    </div>
  </div>
</div>

<h2 class="h2" style="text-align: center; margin-bottom: 50px; margin-top: -50px;">Meeting & Resources Management</h2>
<div class="card-deck">
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Maths Meeting List</h5>
      <a class="btn btn-danger" href="mathscrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Biology Meeting List</h5>
      <a class="btn btn-success" href="biocrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Arts Meeting List</h5>
      <a class="btn btn-info" href="artscrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Commerce Meeting List</h5>
      <a class="btn btn-warning" href="commercecrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Technonoly Meeting List</h5>
      <a class="btn btn-dark" href="techcrud" role="button">View</a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Resources List</h5>
      <a class="btn btn-primary" href="" role="button">View</a>
    </div>
  </div>
</div>

<h2 class="h2" style="text-align: center; margin-bottom: 50px; margin-top: -50px;">Chat with Students and Teachers</h2>
<div class="card-deck">
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Chat Teacher</h5>
      <a class="btn btn-dark" href="chatbox" role="button">Chat </a>
    </div>
  </div>
  <div class="card" style="margin-bottom: 120px; text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Chat Student</h5>
      <a class="btn btn-dark" href="chatbox" role="button">Chat</a>
    </div>
  </div>
</div>
<div style="text-align: center; align-items: center; margin-top: -60px; margin-bottom: 50px;">
  <a class="btn btn-danger" href="" >Logout!</a>
</div>

