<div class="card-deck">
    <div class="card" style="margin-bottom: 120px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">Student Details Manage</h5>
        <a class="btn btn-dark" href="studentslist" role="button">Students Details</a>
      </div>
    </div>
    <div class="card" style="margin-bottom: 120px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">Teachers Details Manage</h5>
        <a class="btn btn-dark" href="teacherslist" role="button">Teachers Details</a>
      </div>
    </div>
    <div class="card" style="margin-bottom: 120px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">Create Account For Teacher</h5>
        <a class="btn btn-dark" href="teacherregister" role="button">Add Teacher</a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card" style="margin-bottom: 120px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">Chat Teacher</h5>
        <a class="btn btn-dark" href="chatbox" role="button">Chat </a>
      </div>
    </div>
    <div class="card" style="margin-bottom: 120px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">Chat Student</h5>
        <a class="btn btn-dark" href="chatbox" role="button">Chat</a>
      </div>
    </div>
    <div class="card" style="margin-bottom: 120px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
    </div>
  </div>