<!-- <form (submit) = "onRegisterSubmit()">
    <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Register">
</form> -->
<h2 class="h2" style="text-align: center; margin-bottom: 50px;">Create Account for Teacher!</h2>
<form class="card" style="padding: 30px;"(submit) = "onRegisterSubmit()">
    <div class="form-group">
        <label for="TextInput">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter Teacher Name">
    </div>
    <div class="form-group">
        <label for="TextInput">Gender</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="gender" name="gender" placeholder="Enter Gender"> -->
        <select class="form-select" aria-label="Default select example" [(ngModel)]="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="TextInput">Phone Number</label>
        <input type="number" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Enter Teacher Phone Number">
    </div>
    <div class="form-group">
        <label for="TextInput">Years Worked</label>
        <input type="text" class="form-control" [(ngModel)]="worked" name="worked" placeholder="Enter Teacher Worked Years">
    </div>
    <div class="form-group">
        <label for="TextInput">Teaching Subject</label>
        <input type="text" class="form-control" [(ngModel)]="subject" name="subject" placeholder="Enter Teacher Teaches Subject">
    </div>
    <div class="form-group">
        <label for="TextInput">NIC</label>
        <input type="text" class="form-control" [(ngModel)]="nic" name="nic" placeholder="Enter Teacher NIC Number">
    </div>
    <div class="form-group">
        <label for="TextInput">Email</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter Teacher Email">
    </div>
    <div class="form-group">
        <label for="TextInput">Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Enter Teacher Username">
    </div>
    <div class="form-group">
        <label for="TextInput">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Enter Teacher Password">
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
</form>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class="btn btn-info" href="admindashboard" role="button">Go Back <<</a>
</div>