<!-- <div class="card text-center" style="margin-bottom: 50px;">
    <div class="card-header">
        Welcome Teacher
    </div>
    <div class="card-body" *ngIf="teacher">
        <h5 class="card-title">Hello {{teacher.name}}</h5>
    </div>
    <a class="btn btn-primary" href="teacherprofile" role="button">Link</a>
</div> -->
<div class="card text-center" style="margin-bottom: 50px;">
    <div class="card-header">
        Welcome Teacher
    </div>
    <div class="card-body" *ngIf="teacher">
        <h5 class="card-title">Hello {{teacher.name}}</h5>
        <p class="card-text">We are introducing below featers for you enjoy!</p>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Your Profile From Here</p>
                    <a href="teacherprofile" class="btn btn-primary">Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Learning Resources From Here.</p>
                    <a href="" class="btn btn-primary">Add Resources</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
    </div>
    <div class="card-body">
        <h5 class="">Meeting Details From Here!</h5>
    </div>
    <div class="row">
        <div class="col-2.4">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Add Meeting Details Related To Physycal Science Stream.</p>
                    <a href="addmaths" class="btn btn-danger w-50">Add Meeting</a>
                    <a href="mathslist" class="btn btn-danger" style="margin-left: 10px;">View Meetings</a>
                </div>
            </div>
        </div>
        <div class="col-2.4">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Add Meeting Details Related To Biologycal Science Stream.</p>
                    <a href="addbio" class="btn btn-success w-50">Add Meeting</a>
                    <a href="biolist" class="btn btn-success" style="margin-left: 10px;">View Meetings</a>
                </div>
            </div>
        </div>
        <div class="col-2.4">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Add Meeting Details Related To Arts Stream.</p>
                    <a href="addarts" class="btn btn-info w-50">Add Meeting</a>
                    <a href="artslist" class="btn btn-info" style="margin-left: 10px;">View Meetings</a>
                </div>
            </div>
        </div>
        <div class="col-2.4">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Add Meeting Details Related To Commerce Stream.</p>
                    <a href="addcommerce" class="btn btn-warning w-50">Add Meeting</a>
                    <a href="#" class="btn btn-warning" style="margin-left: 10px;">View Meetings</a>
                </div>
            </div>
        </div>
        <div class="col-2.4">
            <div class="">
                <div class="card-body">
                    <p class="card-text">Add Meeting Details Related To Technology Stream.</p>
                    <a href="#" class="btn btn-dark w-50">Add Meeting</a>
                    <a href="#" class="btn btn-dark" style="margin-left: 10px;">View Meetings</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card"></div>
    <div class="row">       
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="">
                <div class="card-body">
                    <a href="" class="btn btn-danger" (click)="onLogoutClick()">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="">
                <div class="card-body">
                    <a href="chatbox" class="btn btn-primary">Chat Admin</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="">
                <div class="card-body">
                    <a href="" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>