.chat-messages-show-container{
    background-color: #1e3141;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 5px;
}

.chat-message-show-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-message-create-container{
    background: #1e3141;
    height: 100px;
    display: flex;
    flex-direction: center;
}
input{
    padding: 12px;
    margin: 25px 30px;
    flex: 2;
    border-radius: 5px;
}
button{
    height: 35px;
    border-radius: 5px;
    margin: auto;
    width: 100px;
    margin-right: 10px;
}